ssh_public_key = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCI2XW5xceiG+kSoNaFf6Obo2uyREyT3nQyMi9ExJgofhyc6QKI3a0cZeQ412FI8GrM/Ap8LMNR+HzYVs+5WCR+PMNf0+rAzOaOSvlFZB/zONlxz2zG7xhOqA14bI12c4pWYBtBeKdaZJqHm5U1aFOZH4PLRZGA6EbUu1edWQs//VlQ2P387sqpmclTj1mscvaVVJu3OqPJfbITM8v+AvdSRhGqhwLsVlGNdj2iFySvP0b4uqwqFPvRqyPOLvG/1LxcSoT8Kal/hy+ciL9SAwbY6/o7ge1uaBQMCH4ZzS1ie/f9rev2NVSsmRL1tutK47TZUfNS4AYlftkqbF8XwhiABKEpeiMucEaeKxRwBnLZPYva12fCiS8LTstrFMH50CoxrfOPZuAY3Vh26hWI8tV3cMxcwIvt2Zp2+9ErY8t3YUIVLPYO1LzOrCHqvdnkCNeudPN+m847UM3+ZzsR8agOAbNL6i33MGlDP+SHoQltlswZonxuo+YZbjCnEYg+fjmlDRbeAlCmYniXFEEAchy5lB29MGZEdDgN5wTdafuUsm+i1kHQGTxFPeHy0D1j1/i2YUBSNCkoCbR9yzkJXbOgwGW+/o6ptDh9KRCcrPVE5w58tDhC0vo2VxV/Jgbf8U+BevBjj0FwMqP6O37LBAo2lWjTDOEcZGrbDpMpSqt4w== aks-terraform-key"